stage("${stageName}") {
  agent {
<% out.print agent.readLines().collect { line -> "    ${line}" }.join('\n') %>
  }
  steps {
<% out.print steps.join('\n').readLines().collect { line -> "    ${line}" }.join('\n') %>
  }
}